Правила:
    - Чистые sql запросы
    - БД - sqlite3
    - При первом запуске создаётся бд, если её нет.
    - На гит не льётся env/, __pycache__, *.db (.gitignore вам в помощь)
    - Жду файлик requirements.txt в корне, почитайте про pip freeze
    - Если вдвоём работаете, хотелось бы увидеть коммиты с разных сторон.
    - Гугл весь ваш, а может и я частично
    - Сделайте лучше мало, но обдуманно и своей головой.

Обязательные требования:

    - Регистрация
    - Авторизация (и выход)
    - Чатик с другими юзерами в одном окошке

Дополнительно:

    - Смена никнейма
    - Смена Пароля
    - Групповые чаты (отдельное окошко)
    - Сделать лс (отдельное окошко)
    - Аватар?
    - Может быть что вы написали, это уязвимо? Подумайте об этом.

Помощь:

    Чтобы сделать красиво и удобно, вам поможет ajax :)
    Ниже пример POST запроса, но вы можете сделать и GET..
    async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'include',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return await response.json();
        }

Либо придумайте как-то другой способ обновления окна чатика, но учтите, что сразу сидят минимум 2 пользователя,
поэтому тестите держа это в голове.