{% extends "base.html" %}

{% block title %}Чат{% endblock %}

{% block content %}

<form class="text-center border border-light p-5" action="/chat?" method="post">
    All messages: {{ data_all }}
        <p class="h4 mb-4">Send message</p>
        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                    <input name="username" type="text" id="defaultRegisterFormNick" class="form-control" placeholder="Nick">
            </div>
{#            <div class="col">#}
{#                <!-- First name -->#}
{#                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">#}
{#            </div>#}
{#            <div class="col">#}
{#                <!-- Last name -->#}
{#                <input name= type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">#}
{#            </div>#}
        </div>
        <!-- Password -->
        <input name="message" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Message" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Register</button>
        <hr>
    </form>
{% endblock %}