{% extends "base.html" %}

{% block title %}Чат{% endblock %}

{% block content %}

 <legend>All messages:</legend>
    <table border="1" align="center">
    <tr><td>
    {% for item in data_all %}
       {{ item[0] }}: {{ item[1] }}<p>
    {% endfor %}
    </td></tr>
    </table>

<form class="text-center border border-light p-5" action="/chat?" method="post">
        <p class="h4 mb-4">Send message</p>

        <div class="container" >
            <div class="row">
                <div class="d-md-flex center-block" >
                    <div class="md-form md-outline">
                <textarea id="form76" class="md-textarea form-control" rows="4"></textarea>
                <label for="form76">Сообщение</label>
                </div>
                </div>
            </div>
        </div>
        <button class="btn btn-info my-4 btn-block" type="submit">Отправить сообщение</button>
        <hr>

    </form>

{% endblock %}