    {% extends "base.html" %}

    {% block title %}Регистрация{% endblock %}

    {% block content %}<!-- Default form register -->
    <form class="text-center border border-light p-5" action="/reg" method="post">

        <p class="h4 mb-4">Sign up</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                    <input name="username" type="text" id="defaultRegisterFormNick" class="form-control" placeholder="Nick">
            </div>
{#            <div class="col">#}
{#                <!-- First name -->#}
{#                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">#}
{#            </div>#}
{#            <div class="col">#}
{#                <!-- Last name -->#}
{#                <input name= type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">#}
{#            </div>#}
        </div>
        <!-- Password -->
        <input name="pass" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">


        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

        <hr>
    </form>
    <!-- Default form register -->
    {% endblock %}